.login-card {
  
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
}

.login  {
  width: 100%;
  
}
.time-label {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 12px;
  color: gray;
}