# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  name: Default

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Install Node.js'

- powershell: |
   npm install -g @angular/cli
  displayName: "install angular cli"
- powershell: |
    npm install
  displayName: "install dependecies"
- powershell: |
    ng build 
  displayName: ' build the app'
