<div *ngIf="!bolean">
  <mat-toolbar class="toolbar">

    <button mat-icon-button (click)="expandSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
  
  <span>My App</span>
  <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu" (click)="notificationsCount = 0" [matBadge]="notificationsCount"><mat-icon>notifications</mat-icon></button>
    <mat-menu #menu="matMenu" class="large-menu">
      <div *ngFor="let notification of notifications " style="display: flex; align-items: center;">
        <button mat-menu-item style="flex: 1; text-align: left;"(click)="transfer(notification)">{{notification.message}}</button>
        <button mat-icon-button (click)="delete(notification)"><mat-icon>close</mat-icon></button>
      </div>
    </mat-menu>
    <button mat-button (click)="logout()"><mat-icon>logout </mat-icon> </button>

  
</mat-toolbar>
<router-outlet></router-outlet>
</div>
<div *ngIf="bolean">
  <mat-drawer-container class="sidebar-container">
    <mat-drawer mode="side" opened class="sidebar">
      <mat-toolbar color="primary" class="sidebar-toolbar">
        <button mat-icon-button (click)="expandSidebar()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      <nav>
        <mat-nav-list>
          <a mat-list-item routerLink="/dashboard">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </a>
          <a mat-list-item routerLink="/table">
            <mat-icon>table_chart</mat-icon>
            <span>Table</span>
          </a>
          <a mat-list-item routerLink="/client">
            <mat-icon>group</mat-icon>
            <span>Clients</span>
          </a>
          <a mat-list-item routerLink="/dispute">
            <mat-icon>report_problem</mat-icon>
            <span>Disputes</span>
          </a>
          <a mat-list-item routerLink="/admin">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Admin</span>
          </a>
          <a mat-list-item routerLink="/login">
            <mat-icon>login</mat-icon>
            <span>Login</span>
          </a>
        </mat-nav-list>
      </nav>
    </mat-drawer>
    <mat-drawer-content class="main-content">
      <mat-toolbar>                
        
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu" [matBadge]="notificationsCount" ><mat-icon>notifications</mat-icon></button>
        <mat-menu #menu="matMenu" class="large-menu">
          <div *ngFor="let notification of notifications " style="display: flex; align-items: center;">
            <button mat-menu-item style="flex: 1; text-align: left;"(click)="transfer(notification)">{{notification.message}}</button>
            <button mat-icon-button (click)="delete(notification)"><mat-icon>close</mat-icon></button>
          </div>
        </mat-menu>
        
       <button mat-button (click)="logout()"><mat-icon>logout </mat-icon> </button>
      </mat-toolbar>
      <div class="main-content-body">
        <router-outlet></router-outlet>
      </div>

      
    </mat-drawer-content>
  </mat-drawer-container>
</div>


