.login-card {
  
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
}

.login  {
  width: 100%;
  
}
.mad-card {
  
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
}
.card {
  display: flex;
  justify-content: center;
}